<div class="header-bar">
    <div id="header">
                <!-- Nav -->
                <ul id="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="">Favourite</a></li>
                        <li><a href="">Friend</a></li>
                        <li><a href="">Post</a></li>
                        <li>
                            <a href="">
                                More
                                <i class="icon-down ti-angle-down"> </i>
                            </a>
                            <ul class="subNav">
                                <li><a href="">Name</a></li>
                                <li><a href="">Phone</a></li>
                                <li><a href="">Address</a></li>
                            </ul>
                        </li>
                </ul>
                <!-- Search -->
                <div class="auth-btn">
                    <ul id = "auth">
                        {{#if user}}
                        <li>Welcome {{user}}</li>
                        <li><a href="/auth/logout">Log out</a></li>
                        {{else}}
                        <li><a href="/auth/loginForm" id = "login">Login</a></li>
                        <li><a href="/auth/regisForm" id = "regist">Register</a></li>
                        {{/if}}
                    </ul>
                </div>
    </div>
</div>
<script>
   
    const redirect = document.getElementsByClassName('redirect');
    const signErrAcc = document.querySelector('.error-acc-sign');
    const signErrPass = document.querySelector('.error-pass-sign');
     const login = document.getElementById('login');

const signup = document.getElementById('regist');
    
    login.addEventListener("click",(e)=>{
        e.stopPropagation();
    })
    
    signup.addEventListener('click',(e)=>{
        e.stopPropagation();
    })
    
</script>