<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet" href="/themify-icons/themify-icons.css">
    <title>Book Love</title>
</head>
<body>
    <div class="app">
        {{> header}}
        <div id="container">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.js"></script>
<script>

    localStorage.clear();
    const liElements = document.querySelectorAll("#nav li");
    liElements.forEach(li => {
        console.log("Ok")
        li.addEventListener("click", () => {
            
            // Đặt thuộc tính data-viewed thành "true" cho phần tử hiện tại
            li.dataset.viewed = "true";

            // Lưu trạng thái đã chọn vào Local Storage
            sessionStorage.setItem('selectedLi', li.id); // Sử dụng id của phần tử làm key
            console.log(" Ok")
        });
    });

    // Kiểm tra và khôi phục trạng thái đã chọn khi trang tải
    const selectedLiId = sessionStorage.getItem('selectedLi');
    if (selectedLiId) {
        const selectedLi = document.getElementById(selectedLiId);
        if (selectedLi) {
            selectedLi.dataset.viewed = "true";
            selectedLi.classList.add("header-track")
        }
    };
    
</script>
</html>