<div class="main-body">

    <h1 class="slogan"> Sách vừa là bạn,vừa là thầy</h1>

    <button class = "btn-explore">
        <a href="/server/show">
            Explore
            <i class="ti-gift"></i>
        </a>
    </button>
</div>